<h1>Estate Platform Buy Or Sell </h1>

<%= render "shared/flash_messages" %>

<% if current_user %>
  <h1> Welcome <%= current_user.first_name %> <%= current_user.last_name %> to Estate.com </h1>
<% end %>
