.sale {
  flex-direction: row-reverse
}

.card {
  width: fit-content
}

.card-body {
  width: fit-content
}

.img-thumbnail {
  border: none
}

.card {
  box-shadow: 0 20px 40px rgba(0, 0, 0, .2);
  border-radius: 5px;
  padding-bottom: 10px
}

.card-title {
  color: black;
  font-size: 25px;
  font-weight: 900
}

.card-text {
  color: black;
  font-size: 18px;
  font-family: sans-serif;
  font-weight: 500
}
