body {
  background-color: blue;
  color: white;
  text-align: center;
}

#footer {
  bottom: 0px;
  position: absolute;
  height: 50px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  background-color: white;
  color: black;
  text-align: center;
}

#wrapper {
  height: 700px;
  position: relative;
}

.logo {
  height: 100px;
  width: 100px;
}

.alert {
  left: 0;
  margin: auto; // Centers alert component
  position: absolute; // So that it will display relative to the entire page
  right: 0;
  text-align: center; // Centers 'Alert Test' text
  top: 1em;
  width: 40%;
  height: 50px;
  z-index: 1; // Displays over app and bootstrap Navbar
}

.profile_pic {
  border-radius: 50%;
   height: 60px;
  width: 60px;
}

.home {
  height: 300px;
  width: 400px;
}

.title {
  font-family: "Lucida Console", "Courier New", monospace;
  font-weight: 400;
  font-size: 70px;
}
.sub_title {
  font-weight: 400;
  font-size: 40px;
  color: black;
}

.contract {
  background-color: white;
  color: black;
  text-align: center;

}

.details {
  text-align: left;
}
