<div id="wrapper">
  <div id="footer">
    <div class="footer-copyright text-center py-3">
      © 2021 Copyright:vkg
      <a class="nav-link" <%= link_to  'Estate-Platform.com', root_path %></a>
    </div>
  </div>
</div>
