<footer class="bg-light text-center text-lg-start"
<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
  © 2021 Copyright:vkg
  <a class="nav-link" <%= link_to  'Estate-Platform.com', root_path %></a>
</div>
</footer>
